{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "@typescript-eslint/semi": ["error", "never"],
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "@typescript-eslint/comma-dangle": "off",
    "react/require-default-props": "off",
    "@typescript-eslint/indent": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  },
  "env": {
    "browser": true
  }
}
